

-- =================================================================
-- I'm going to walk you through the database script I wrote for my
-- EventEase project. I'll explain every single line, every weird symbol, and what each part does. 
-- ============================================================================

-- First, I tell SQL Server which database I want to use. 
-- The square brackets [ ] is just a safe way to wrap names that might have
-- spaces or special characters. 'EventEaseDB' is the name of my database.
USE [EventEaseDB]
GO
-- 'GO' is like saying "run all the commands above before moving on".
-- It separates lines of instructions.To make sure that the database is selected before I create tables and stuff.



/****** Object:  Table [dbo].[Booking]    Script Date: 3/2/2026 5:44:16 PM ******/


-- SET ANSI_NULLS ON means that when I compare a value to NULL (which means "no data"),
-- the result will be 'unknown' instead of true or false. This is standard and safe.
SET ANSI_NULLS ON
GO

-- SET QUOTED_IDENTIFIER ON means I can use double quotes to wrap object names
-- (like table or column names) instead of square brackets. It's another standard setting.
SET QUOTED_IDENTIFIER ON
GO

-- ==================================================
-- BOOKING TABLE – This is the heart of my system. It connects an Event to a Venue
-- for a specific date range. Think of it like a reservation slip.
-- ========================================================================
CREATE TABLE [dbo].[Booking](


    -- This column is the unique ID for each booking. INT means whole number.
    -- IDENTITY(1,1) means SQL Server will automatically number them starting at 1,
    -- and increase by 1 each time. I don't have to provide a number when I add a booking.
    -- NOT NULL means it must always have a value – every booking needs an ID.
    [BookingID] [int] IDENTITY(1,1) NOT NULL,



    -- This holds the ID of the Event that is being booked. It's a whole number too.
    -- NOT NULL means you can't have a booking without an event.
    [EventID] [int] NOT NULL,


    -- This holds the ID of the Venue where the event will happen. Also required.
    [VenueID] [int] NOT NULL,



 -- This is the date when the booking was made. It's a datetime type (date + time).
    -- NULL means it's allowed to be empty – but I'll set it automatically later anyway.
    [BookingDate] [datetime] NULL,

    -- This is the date and time the event starts. The (7) means precision (7 decimal places for seconds).
 -- NOT NULL means you must pick a start date.
    [StartDate] [datetime2](7) NOT NULL,



    -- This is the date and time the event ends. Also required.
    [EndDate] [datetime2](7) NOT NULL,



    -- Now I define the primary key – a special column that uniquely identifies each row.
    -- PRIMARY KEY CLUSTERED means SQL Server will physically arrange the data in order of this column
 -- to make searches fast. The (ASC) means ascending order (smallest to largest).
    PRIMARY KEY CLUSTERED 
    (
        [BookingID] ASC
    )


    -- The rest of the options (PAD_INDEX, STATISTICS_NORECOMPUTE, etc.) are default settings.
    -- I didn't change them; SQL Server just writes them out. They control how the index behaves,
    -- but for a beginner you can ignore them – they're like "keep these as standard".
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, 
          ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) 
) ON [PRIMARY]
GO



-- ===============================================================
-- EVENT TABLE – This stores the different kinds of events people can book.
-- I designed it without any date or venue, because an event can happen at different times
-- and places. It's like a template.
-- ============================================================================



/****** Object:  Table [dbo].[Event]    Script Date: 3/2/2026 5:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TABLE [dbo].[Event](

    -- Unique ID for each event, auto-numbered.
    [EventID] [int] IDENTITY(1,1) NOT NULL,



    -- The name of the event, like "Tech Conference 2025". NVARCHAR(255) means text up to 255 characters.
    -- NOT NULL means you must give it a name.
    [EventName] [nvarchar](255) NOT NULL,

    -- A longer description, up to 1000 characters. NULL is allowed because it's optional.
    [Description] [nvarchar](1000) NULL,

    -- Primary key on EventID.
    PRIMARY KEY CLUSTERED 
    (
        [EventID] ASC
    ) WITH (...) 
) ON [PRIMARY]
GO

-- =======================================
-- VENUE TABLE – This stores the physical locations where events can be held.
-- ============================================================================

/****** Object:  Table [dbo].[Venue]    Script Date: 3/2/2026 5:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TABLE [dbo].[Venue](
    [VenueID] [int] IDENTITY(1,1) NOT NULL, -- Unique ID for each venue

    [VenueName] [nvarchar](255) NOT NULL,        -- Name of the venue, e.g., "Grand Hall"

    [Location] [nvarchar](255) NOT NULL,   -- Address or area description

    [Capacity] [int] NOT NULL,                     -- How many people fit

    [ImageUrl] [nvarchar](500) NULL,      -- Link to a picture (placeholder for Part 1)

    PRIMARY KEY CLUSTERED ([VenueID] ASC) WITH (...)
) ON [PRIMARY]
GO


-- ==================================
-- DEFAULTS – These automatically fill in values if I don't provide them.
-- ============================================================================

-- I set a default value for BookingDate: if I don't supply a date, SQL Server will
-- use the current date and time (getdate() is a built-in function).
ALTER TABLE [dbo].[Booking] ADD DEFAULT (getdate()) FOR [BookingDate];
GO



-- For StartDate and EndDate, I added a default date of January 1, 2026 and December 1, 2026 respectively.
-- This is just a placeholder because when I first added these columns, I had to make them NOT NULL,
-- and I needed something to put in existing rows. In real use, the app always provides the real dates.
ALTER TABLE [dbo].[Booking] ADD CONSTRAINT [DF_Booking_StartDate] DEFAULT ('2026-01-01') FOR [StartDate];
GO
ALTER TABLE [dbo].[Booking] ADD CONSTRAINT [DF_Booking_EndDate]   DEFAULT ('2026-12-01') FOR [EndDate];
GO

-- ==========================================  ==========     ==============
-- FOREIGN KEYS – These enforce relationships between tables.
-- They make sure that a Booking always points to an existing Event and an existing Venue.
-- ============================================================================





-- This says the EventID colum in Booking must match an EventID in the Event table.
-- I'm using WITH CHECK to make sure existing data already follows this rule.
-- I deliberately did NOT add ON DELETE CASCADE, because if an Event is deleted,
-- I don't want its bookings to vanish automatically. My application will check first.
ALTER TABLE [dbo].[Booking] WITH CHECK ADD CONSTRAINT [FK_Booking_Event] 
    FOREIGN KEY([EventID]) REFERENCES [dbo].[Event] ([EventID]);
GO

-- Then I enable the constraint (re-check it).
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Event];
GO

-- Same thing for VenueID.
ALTER TABLE [dbo].[Booking] WITH CHECK ADD CONSTRAINT [FK_Booking_Venue] 
    FOREIGN KEY([VenueID]) REFERENCES [dbo].[Venue] ([VenueID]);
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Venue];
GO

-- =========================                 =============================
-- CHECK CONSTRAINT – This ensures that venue capacity is positive.
-- ============================================================================

-- This checks that the Capacity column is greater than 0. No negative or zero capacities allowed.
ALTER TABLE [dbo].[Venue] WITH CHECK ADD CHECK (([Capacity] > 0));
GO



-- ============================================================================
-- SIMPLE SELECTS – These are just for testing. They show all data in each table.
-- I use them to verify that my CRUD operations are working.
-- =========================               ===============================
SELECT * FROM Venue;
SELECT * FROM Event;
SELECT * FROM Booking;

-- ============================                           =======================
-- CLEANUP AND RESET – I added these commands to easily wipe out all data and
-- restart the identity counters. This is useful when I want to test my app
-- with a fresh database without deleting the tables themselves.
-- ============================================================================

-- 1. First, I delete all bookings because they depend on events and venues.
--    If I tried to delete an event first, the foreign key would complain.
DELETE FROM [dbo].[Booking];

-- 2. Now I can safely delete all events and venues.
DELETE FROM [dbo].[Event];
DELETE FROM [dbo].[Venue];

-- 3. These DBCC CHECKIDENT commands reset the auto-number counters back to 0.
--    That means the next inserted ID will be 1 again.
--    RESEED means "set the starting point".
DBCC CHECKIDENT ('[dbo].[Booking]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Event]', RESEED, 0);
DBCC CHECKIDENT ('[dbo].[Venue]', RESEED, 0);



-- =======================   =====================================
-- EXAMPLE UPDATE – This shows how I can update a specific record.
-- Here I'm setting the Description to NULL for the event with EventID = 2.
-- In real life, I might do this to clear a description.
-- ============================================================================
UPDATE [dbo].[Event]
SET [Description] = NULL 
WHERE [EventID] = 2;

-- ============================================================================
-- And That's the entire script! I designed, whith youtube videos, google and Ai for better clarity on weather my code is professional 
--and it to be simple but effeicient.
-- The three tables work together to let me book events at venues, prevent
-- double bookings (with my application code), and keep data clean.
-- .
-- ============================================================================